.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    background: var(--grey);
    cursor: not-allowed;
}

.Success {
    color: var(--secondary);
    background: var( --primary);
    border-radius: 1rem;
    padding: 1rem 3rem;
}

.Danger {
    color: var(--secondary);
}