.ContactData {
    margin: 5rem auto;
    width: 80%;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 10px 10px 0 rgba(255, 202, 64, .5),
                -10px -10px 0 rgba(255, 202, 64, .5);
    padding: 2rem 1rem;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
}
.contactForm button {
    width: 95%;
}
.contactTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--secondary);
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
        padding: 3.5rem 2rem;
    }
}