.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid var(--secondary);
    background-color: #fff;
    font: inherit;
    padding: 1rem 1.5rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1rem;
    color: var(--secondary);
    font-weight: 700;
}

.InputElement:focus {
    outline: none;
    background-color: var(--grey-light);
}

.Invalid {
    border: 1px solid #f00;
    background-color: #fda49a;
}